@import url('https://fonts.googleapis.com/css?family=Montserrat:600&display=swap');
html,body {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
    background-color: rgb(255, 0, 0);
  }
  
.border {
    width: calc(100% - 20px);
    height: calc(100% - 20px);
    background-color: rgb(0, 0, 0);
    margin: 10px;
    box-sizing: border-box;
    border-radius: 10px;
    border: none;
    align-items: center;
    justify-content: center;
    display: flex;
    box-shadow: 3px 3px 15px 0px #000000,
    -3px -3px 15px 0px #000000;
  }
  
  .inner-border {
    height:50%;
    width: 90%;
    animation: rotate-shadow 3s linear infinite;
    border-radius: 50%;
  }


  .image{
    border:1px solid white;
    height:40%;
    width: 70%;
    margin: 0 auto;
    margin-top: 15%;
  }


  @keyframes rotate-shadow {
    0% {
      box-shadow: 1px 0 0 0 #ff0000;
    }
    25% {
      box-shadow: 0 1px 0 0 #ff0000;
    }
    50% {
      box-shadow: -1px 0 0 0 #ff0000;
    }
    75% {
      box-shadow: 0 -1px 0 0 #ff0000;
    }
    100% {
      box-shadow: 1px 0 0 0 #ff0000;
    }
  }

.heart-btn{
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: 15%;
  transform: translate(-50%,-50%);
}

.content{
  padding: 13px 16px;
  display: flex;
  border: 2px solid #ff1e00;
  border-radius: 5px;
  animation: rotate-shadow .7s linear infinite;
  cursor: pointer;
}
.content.heart-active{
  border-color: #000000;
  background: #000000;
}
.heart{
  position: absolute;
  background: url("img.png") no-repeat;
  background-position: left;
  background-size: 2900%;
  height: 90px;
  width: 90px;
  top: 50%;
  left: 21%;
  transform: translate(-50%,-50%);
}
.text{
  font-size: 21px;
  margin-left: 30px;
  color: rgb(255, 0, 0);
  text-shadow: 0 0 1em rgb(255, 0, 0);
  font-family: 'Montserrat',sans-serif;
}
.text.heart-active{
  color: #f70fff;
}
.heart.heart-active{
  animation: animate .8s steps(28) 1;
  background-position: right;
}
@keyframes animate {
  0%{
    background-position: left;
  }
  100%{
    background-position: right;
  }
}


.heart-btn-2{
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: 35%;
  transform: translate(-50%,-50%);
}

.content-2{
  padding: 13px 16px;
  display: flex;
  border: 2px solid #ff1e00;
  border-radius: 5px;
  animation: rotate-shadow .7s linear infinite;
  cursor: pointer;
}

.text-2{
  font-size: 21px;
  color: rgb(255, 0, 0);
  text-shadow: 0 0 1em rgb(255, 0, 0);
  font-family: 'Montserrat',sans-serif;
}
